@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  transition: 1s;
	margin: 0;
	padding: 0;
}

html {
  scroll-behavior: smooth; 
}

.body {
	margin: 0;
	background-color: #191a1b;
	font-family: 'Roboto', sans-serif;
}

.main-container {
	max-width: 1000px;
	margin: 0 auto;
	min-height: 100vh;
}

.header-block {
	background-color: #2d2f31;
	position: sticky;
	top: 0;
	z-index: 3;
}

.header__nav {
	margin: 0;
}

.header__nav-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
	padding: 15px;
}

.header__nav-list-item {
	list-style-type: none;
}

.header__nav-list-link {
	text-decoration: none;
	color: #fefefe;
	padding: 0 20px;
	display: inline-block;
	text-decoration: none;
	letter-spacing: 2px;
	text-transform: uppercase;
	position: relative;
	transition: all 0.4s ease;
}

.header__nav-list-link:hover {
	color: rgba(117, 95, 241, 0.8);
}

.header__nav-list-link::after { 
 	content: "";
 	position: absolute;
 	height: 2px;
 	background-color: rgba(117, 95, 241, 0.8);
 	width: 0;
 	left: 50%;
 	bottom: -7px;
 	transform: translateX(-50%);
 	transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

.header__nav-list-link:hover::after { 
	width: 100%; 
}

.containers {
	display: flex;
	width: 100%;
}

.container__left {
	width: 27%;
	background-color: #2d2f31;
}

.container__right {
	width: 73%;
	background-color: #ffffff;
	padding: 0 15px;
}

.section {
	padding: 5px 0;
}

.avatar {
	width: 100%;
	aspect-ratio: 1 / 1;
}

.block-name {
	margin: 0;
	display: flex;
	justify-content: center;
	padding: 15px 0;
}

.block-main-for-text {
	border: 2px solid rgba(22, 13, 79, 0.8);
	width: max-content;
	padding: 7px 45px;
	border-radius: 1em;
	position: relative;
}

.block-main-for-text:hover {
	border: 2px solid rgb(117, 95, 241);
} 

.block-main-for-text:hover .main-title__skill{
	color: rgb(117, 95, 241);
}

.block-main__name-title {
	margin: 0;
	font-size: 50px;
	color: #2d2f31;
	position: relative;
	z-index: 2;
}

.avatar:hover {
	transition: 1s;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  z-index: 1;
}

.contact-block__title, 
.education-block__title, 
.languages-block__title {
	color: #fefefe;
	font-size: 14px;
	text-align: right;
	padding: 2px 7px 2px;
	text-transform: uppercase;
	background-color: rgba(22, 13, 79, 0.8);
}

.contact-block__title:hover, 
.education-block__title:hover, 
.languages-block__title:hover {
	transition: 2s;
	padding-right: 12px;
	-webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}

.block-summary__title, 
.block-experience__title, 
.block-code__title,
.block-skills__title, 
.block-projects__title {
	color: #fefefe;
	font-size: 14px;
	text-align: right;
	line-height: 1.3;
	padding: 5px 10px 5px;
	text-transform: uppercase;
	background-color: rgba(22, 13, 79, 0.8);
}

.block-summary__title:hover, 
.block-experience__title:hover, 
.block-code__title:hover,
.block-skills__title:hover, 
.block-projects__title:hover {
	transition: 2s;
	padding-right: 12px;
	-webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; 
}

.list {
	display: flex;
	flex-direction: column;
	padding: 5px 28px 0;
	row-gap: 5px;
	margin: 8px 0;
}

.contact-block__menu-list-item {
	list-style-type: none;
}

.contact-block__menu-list-link {
	text-decoration: none;
	color: #fefefe;
	font-size: 18px;
	line-height: 1.3;
	position: relative;
}

.contact-block__menu-list-link:hover {
	color: rgb(117, 95, 241);
}

.contact-block__menu-list-link::before {
	content: '';
	position: absolute;
	left: 0; 
	bottom: -2px;
	width: 0;
	height: 2px;
	background-color: rgb(117, 95, 241);
}

.contact-block__menu-list-link:hover:before {
	width: 100%;
}

.contact-block__menu-list-link::before {
	transition: width 0.35s;
}

.education-block__menu-list-item, 
.languages-block__menu-list-item {
	list-style-type: none;
}

.header__nav-list-text,
.languages-block__menu-list-item {
	color: #fefefe;
	font-size: 18px;
}

.header__nav {
	display: flex;
	width: 100%;
	align-content: center;
	align-items: center;
	font-size: 14px;
	text-transform: uppercase;
}

.main-title__skill {
	width: 250px;
	color: rgba(22, 13, 79, 1);
	font-size: 20px;
	text-align: center;
	background-color: #ffffff;
	position: absolute;
	bottom: -0.6em;
	left: 2.7em;;
	text-transform: lowercase;
}

.main-title__skill:hover {
	color: rgb(117, 95, 241);
}

.block-summary__text, 
.block-experience__text, 
.block-skills__menu-list-text {
	padding: 10px 1px 0;
	text-indent: 10px;
	line-height: 1.5;
	font-size: 18px;
	text-align: center;
}

.block-code__example {
	font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
	font-size: 14px;
	overflow: auto;
	padding: 10px 20px;
	width: auto;
	max-height: 600px;
}

.footer {
	background: #2d2f31;
	padding: 7px 20px 5px;
}

.footer-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	color: #fefefe;
	padding: 5px 52px;
}

.block-footer__img {
  height: 40px;
  opacity: 0.3;
}

.footer-year__title {
	text-align: center;
	color: #fefefe;
	opacity: 0.3;
	cursor: default;
}

.footer-year {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 20px;
}

.footer-year__title:hover,
.block-footer__img:hover {
	transition: 1s;
	transform: scale(1.1);
	opacity: 1;
}

.block-skills__menu-list {
	margin: 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	column-gap: 5px;
	padding: 10px 0 0;
}

.block-skills__menu-list-item {
	list-style-type: none; 
	display: flex; 
	margin: 0 0 3px;
	padding: 0 5px;
}

.block-skills__menu-list-text {
	margin: 0;
	padding-top: 2px;
	cursor: default;
}

.block-skills__menu-list__icons:hover,
.block-skills__menu-list-text:hover {
	transition: 1s;
	transform: scale(1.1);
}

.block-skills__menu-list__icons {
	height: 30px;
	width: 30px;
}

.block-projects__menu-list__icons {
	padding: 0;
	filter: grayscale(100%);
	width: 100%;
	height: 100%;
	position: relative;
}

.block-experience__title,
.block-skills__title,
.block-projects__title,
.block-code__title,
.block-summary__title {
	scroll-margin-top: 50px;
}

.block-projects__menu-list__icons:hover {
	filter: grayscale(0);
	transform: scale(1.1);
	z-index: 2;
}

.buttonTop {
	display: block;
	background: url('../images/btnUp.png') center no-repeat;
	background-size: 32px;
	height: 32px; width: 32px;
	position: fixed; bottom: 15px; right: 17px;
	z-index: 2;
}

.buttonTop:hover {
	transform: scale(1.2);
	transition: 1s;
}

.block-main__name-title,
.main-title__skill,
.contact-block__title, 
.education-block__title, 
.languages-block__title,
.block-summary__title, 
.block-experience__title, 
.block-code__title,
.block-skills__title, 
.block-projects__title {
	cursor: default;
}

.block-projects__container {
	display: flex;
	flex-direction: column;
	gap: 2px;
	padding: 10px 0;
}

.hidden-text-btnTop {
	visibility: hidden;
}

.block-projects-list {
	display: flex;
	justify-content: center;
	gap: 2px;
}

.list-big {
	width: 70%;
	height: auto;
}

.list-big .block-projects__menu-list__icons {
	max-width: 945px;
  aspect-ratio: auto 945 / 505;
  max-height: 505px;
}

.list-small .block-projects__menu-list__icons {
	max-width: 832px;
  aspect-ratio: auto 832 / 500;
  max-height: 500px;
}

.list-small {
	width: 30%;	
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.list-link {
	height: 50%;
}

.block-projects-list:nth-child(2n+1) .list-big{
	order: 2;
}

.burger-menu {
	display: none;
	list-style: none;
}

.shadow-block {
	position: fixed;
	left: -100vw;
	top: 0;
	z-index: 2;
	width: 100vw;
	height: 100vh;
	background: rgba(41, 41, 41, 0.6);
  opacity: 0;
  transition: opacity 2s ease;
}

@media screen and (max-width: 830px) {

	.list {
		padding: 0 5px;
	}
	
	.contact-block__menu-list-link,
	.header__nav-list-text {
		font-size: 16px;
	}

	.footer-container {
		padding: 5px 10px;
	}

}

@media screen and (max-width: 650px) {

	.containers {
		flex-direction: column;
	}

	.container__left,
	.container__right {
		width: 100%;
	}

	.list {
		padding: 5px 28px 0;
	}

	.contact-block__menu-list-link,
	.header__nav-list-text {
		font-size: 18px;
	}

	.burger-menu {
		display: inline;
		position: fixed;
		width: 30px;
		height: 22px;
		top: 40px;
		right: 40px;
		z-index: 5;
		cursor: pointer;
	}

	.burger-lines {
		display: flex;
		height: 22px;
		justify-content: space-between;
		flex-direction: column;
	}

	.burger-line {
		width: 100%;
		height: 3px;
		background: rgb(44, 47, 149);
		border: none;
	}

	.header__nav-list {
		width: 320px;
		height: 100vh;
		flex-direction: column;
		position: fixed;
		right: -100%;
		top: 0;
		align-items: center;
		background: #292929;
		justify-content: center;
		row-gap: 40px;
		opacity: 0;
	}

	.header__nav {
		font-size: 18px;
	}

	.block-footer__img {
		height: 30px;
	}

	.footer-year__title {
		font-size: 18px;
	}
	
	.block-experience__title,
  .block-skills__title,
  .block-projects__title,
  .block-code__title,
  .block-summary__title {
	  scroll-margin-top: 0;
  }

}

@media screen and (max-width: 480px) {

	.block-main__name-title {
		font-size: 30px;
	}

	.main-title__skill {
		width: 180px;
		left: 2.2em;
		font-size: 15px;
	}

	.main-container {
		min-width: 320px;
	}

}

.open {
	right: 0;
	opacity: 1;
	padding-top: 60px;
}

.rotate {
	transform: rotate(90deg);
}

.overflow {
	overflow: hidden;
}

.shadow-open {
	opacity: 1;
	z-index: 2;
}

.shadow-inin {
	left: 0;
}